/sample_programs
/.vim/.netrwhist

.vim/plugins/coc/extensions/*
!.vim/plugins/coc/extensions/package.json

.vim/plugins/coc/*
!.vim/plugins/coc/extensions

/debugger/**/*

.config/git/config.d/user.conf
