[color]
	ui = auto
[include]
    path = ~/.config/git/config.d/user.conf
[http]
	sslVerify = false
[core]
	editor = nvim
	pager = git-split-diffs --color | less -RFX
	quotepath = false
[push]
	autoSetupRemote = true
[user]
	email = work.shabaraba@gmail.com
	name = shabaraba
