# for cybozu
# proxy
export http_proxy=
export https_proxy=

# java
export JAVA_HOME=
export PATH=
#eval "$(nodenv init -)" # nodenvを使わない場合、この行は不要です

# git
export GITHUB_USER=
export GITHUB_TOKEN=

ssh-add ~/.ssh/github
