# for company development
# proxy
export http_proxy=
export https_proxy=

# java
export JAVA_HOME=
export PATH=
#eval "$(nodenv init -)" # nodenvを使わない場合、この行は不要です

# git
export GITHUB_USER=
export GITHUB_TOKEN=

# AI Agent
export CLAUDE_API_TOKEN=

# Claude Code
export DISCORD_WEBHOOK_URL=
export CLAUDE_CODE_OAUTH_TOKEN=

ssh-add ~/.ssh/github
